* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
body {
    background-color: #f0f4f8;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.display {
    width: 100%;
    background-color: #111827;
    color: #ffffff;
    font-size: 2em;
    border: none;
    padding: 20px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    background-color: #334155;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 0.3s;
}

.btn:hover {
    background-color: #475569;
    box-shadow: 0px 0px 15px 2px black;
    transform: scale(1.07);
    transition: 0.3s;
}

.operator {
    background-color: #2563eb;
}

.operator:hover {
    background-color: #1d4ed8;
}
.equal{
    background-color: rgb(163, 37, 37);
}
.equal:hover{
    background-color: rgb(223, 75, 75);
}
.back{
    background-color: #8d97a7;
}
